body.level-1 .atfusa .days-table .l-side .rooms .row .order .whatsapp{display:none}
body.level-1 .atfusa .days-table .l-side .day::after {content: "";position: absolute;background: rgba(0,0,0,0.1);top: 100px;left: 0;right: 0px;bottom: 0;}

.l-side>section.atfusa {max-width:none}
.atfusa .title{color:#777;font-weight:500;font-size:20px;display:block;padding:10px}
.atfusa .top-buttons{padding:0 10px;display: block;position:relative;margin-bottom:10px;border-spacing:5px 0;margin: 8px -5px 10px 0;width: auto;text-align: right;}
.atfusa .top-buttons>a{text-decoration:none;width: 14%;height: 40px;border-radius:8px;filter:drop-shadow(0 0 1.5px rgba(2, 3, 3, .2));background:-moz-linear-gradient(top,#2ab5bf 0,#3dbcc5 49%,#0dabb6 52%,#0dabb6 100%);background:-webkit-linear-gradient(top,#2ab5bf 0,#3dbcc5 49%,#0dabb6 52%,#0dabb6 100%);background:linear-gradient(to bottom,#2ab5bf 0,#3dbcc5 49%,#0dabb6 52%,#0dabb6 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab5bf', endColorstr='#0dabb6', GradientType=0 );display: inline-block;font-size:16px;font-weight:500;text-align:center;color:#fff;box-sizing:border-box;cursor:pointer;vertical-align:middle;line-height:1;position: relative;font-size: 0;}
.atfusa .top-buttons .clicks{position:absolute;color:#777;font-size:12px;bottom:5px;left:10px}
.atfusa .top-buttons>a::before {content: "";position: absolute;left: 0;right: 0;top: 0;bottom: 0;width: 14px;height: 14px;border-top: 2px solid white;border-right: 2px solid white;margin: auto;transform: rotate(45deg);}
.atfusa .top-buttons>a.next::before {transform: rotate(-135deg);}
.month-select {width: 22%;max-width: 140px;min-width: 60px;border: 1px #0dabb6 solid;border-radius: 10px;background: white;display: inline-block;height: 50px;box-sizing: border-box;position: relative;text-align: center;font-size: 14px;}
.month-select::after {content: "";position: absolute;left: 0;right: 0;border-right: 2px solid #333;border-bottom: 2px solid #333;width: 4px;height: 4px;bottom: -5px;margin: auto;transform: rotate(45deg);}
#monthselect {width: 100%;height: 50px;margin: -1px 0;position: absolute;opacity: 0;font-size: 18px;z-index:2}


.atfusa .days-table {width: 100%; }
.atfusa .days-table .l-side {min-width: calc(100% - 235px);}
.atfusa .days-table.weekly .l-side .day {min-width: calc(100% / 7);}

.atfusa .days-table{display:block;clear:both;position:relative;border-bottom:1px solid #e89b14;float:right;max-width: 100%;border-radius:8px;overflow:hidden;/* background: #cfeef0; *//* z-index: -5; */}
.atfusa .days-table .r-side{width:90px;position:absolute;top:0;right:0;z-index:10;filter:drop-shadow(-6px 0 5px rgba(2, 3, 3, .1))}
.atfusa .days-table .l-side{font-size:0;width:calc(100% - 90px);display: flex;float:right;margin-right:90px;/* white-space:nowrap; */overflow:auto;z-index: 2;position: relative;/* flex-wrap: wrap; */padding-top: 101px;}
.atfusa .days-table .l-side .top{text-decoration:none}
.atfusa .days-table .l-side .top .row{text-align:center}
.atfusa .days-table .l-side .day.last-month .top .row{position:relative}
.atfusa .days-table .l-side .day.last-month .top .row .title{position:absolute;bottom:10px;right:0;left:0;padding:0 10px;font-weight:400;font-size:16px;color:#777;white-space:normal}
.atfusa .days-table .l-side .top .row .day-name{font-size:20px;color:#777;font-weight:500;display:block;padding-top:35px;padding-bottom:10px}
.atfusa .days-table .l-side .top .row .special_date {position: absolute;font-size: 12px;padding: 0 5px;left: 5px;right: 5px;box-sizing: border-box;white-space: initial;color: #e73219 !important;top: 2px;height: auto;font-weight: bold;line-height: 1;max-height: 38px;overflow: hidden;}
.atfusa .days-table .l-side .top .row .special_date div { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #e73219 !important; }
.atfusa .days-table .l-side .top .row .day-date{font-size:12px;color:#777;display:block}
.atfusa .days-table .l-side .day{min-width: 80px;display:inline-block;position:relative;box-sizing: border-box;/* z-index: 0; */transition:0.2s all}
.atfusa .days-table .row{height:100px;box-sizing:border-box;border:1px solid transparent}
.atfusa .days-table .top .row{background:#fcf2e2;border-top-color:#e89b14;border-bottom-color:#e89b14;border-left-color:#b0c7c9;position:relative}
.atfusa .days-table .today .top .row{background:#ffe6bb}
.atfusa .days-table .weekend .top .row *{color:#333!important}
.atfusa .days-table .r-side .rooms .row{background:#dbf2f4;border-top-color:#b0c7c9;border-left-color:#b0c7c9;font-size:12px;color:#0dabb6;position: relative;}
.atfusa .days-table .l-side .rooms .row{/* background:#fff; */font-size:12px;color:#0dabb6;font-size:0;position:relative;box-sizing: border-box;border: 0;box-shadow: 1px -1px 0 #b0c7c9 inset;}
.atfusa.units:not(.dayly) .days-table .l-side .rooms .row::before{text-align:center;content:'';line-height:60px;font-size:20px;color:#fff;transition:all .2s ease;font-weight:500;position:absolute;top:50%;right:50%;transform:translateY(-50%) translateX(50%);width:60px;height:60px;background: #eee;border-radius:60px;}
.atfusa.units.dayly .days-table .l-side .rooms .row::before{display:none}
.atfusa .days-table .l-side .rooms .row.busy::before{background:#edaf43;content:'Ã—ÂªÃ—Â¤Ã—â€¢Ã—Â¡'}
.atfusa .days-table .l-side .rooms .row .order{cursor:pointer;height: 90px;background: #fcf2e2;border-radius:8px;color: #333;/* padding: 18px 0 0; */position:absolute;right:0;box-sizing:border-box;margin:5px 0;font-size:12px;display:inline-block;z-index:5;/* overflow:hidden; */border: 1px #cfeef0 solid;border: 1px solid #ffffff;}
.atfusa .days-table .l-side .rooms .row .order .all{position:absolute;top:0;right:0;left:0;bottom:0;z-index:1;width:100%;height:100%}
.atfusa .days-table .l-side .rooms .row .order.preorder{background:#e73219}
.atfusa .days-table .l-side .rooms .row .order.approved::after{content:"";width:4px;height:8px;border-right:2px solid #fff;border-bottom:2px solid #fff;left:0;right:0;margin:auto;bottom:4px;transform:rotate(45deg);position:absolute}
.atfusa .days-table .l-side .rooms .row .order .bottom,.atfusa .days-table .l-side .rooms .row .order .phone{}
.atfusa .days-table .l-side .rooms .row .order .whatsapp{position:absolute;bottom:5px;left:5px;z-index:5}
.atfusa .days-table .l-side .rooms .row .order .bottom{position:absolute;bottom: 1px;left: 1px;padding: 0 5px;border: 1px solid #b0c7c9;background: white;border-radius: 6px;z-index:9}
.atfusa .days-table .l-side .rooms .row .order .bottom .price {color: #e66957;}
.atfusa .days-table .l-side .rooms .row .order .bottom .price.allpaid {color: #037881;}
.atfusa .days-table .l-side .rooms .row .order.all-day{max-width:none;width:90px}
.atfusa .days-table .l-side .rooms .row .order.all-day .bottom,.atfusa .days-table .l-side .rooms .row .order.all-day .phone{display:block}
.atfusa .days-table .r-side .rooms .row{padding:10px 8px}
.atfusa .days-table .r-side .rooms .row .name{font-size: 14px;font-weight:500;/* padding-bottom:5px; */margin-top: -5px;height: 30px;display: flex;align-items: center;justify-content:center}
.atfusa .days-table .r-side .rooms .row .name.small {}
.atfusa .days-table .r-side .rooms .row .nototal{color:#aaa}
.atfusa .days-table .top .row.month .month-label{display:block;font-size:16px;font-weight:500;color:#777;text-align:center;margin:5px 0}
.atfusa .days-table .top .row.month .month-label span{display:block;margin:0 auto}
.atfusa .days-table .top .row.month .buttons>button{filter:drop-shadow(0 0 1.5px rgba(2, 3, 3, .2));width:40px;height:40px;border-radius:7px;position:relative;cursor:pointer;background:#eba731;background:-moz-linear-gradient(top,#eba731 0,#edaf43 49%,#e89b14 51%,#e89b14 100%);background:-webkit-linear-gradient(top,#eba731 0,#edaf43 49%,#e89b14 51%,#e89b14 100%);background:linear-gradient(to bottom,#eba731 0,#edaf43 49%,#e89b14 51%,#e89b14 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eba731', endColorstr='#e89b14', GradientType=0 );font-size:0;color:#fff}
.atfusa .days-table .top .row.month .buttons{display:block;text-align:center;margin:5px 0}
.atfusa .days-table .top .row.month .buttons>button.prev::before{content:'';position:absolute;top:50%;right:50%;transform:translateY(-50%) translateX(50%) rotate(45deg);border-top:3px solid #fff;border-right:3px solid #fff;width:10px;height:10px}
.atfusa .days-table .top .row.month .buttons>button.next::before{content:'';position:absolute;top:50%;right:50%;transform:translateY(-50%) translateX(50%) rotate(45deg);border-bottom:3px solid #fff;border-left:3px solid #fff;width:10px;height:10px}

.r-side .top{position:sticky;top:0;z-index:11}
.atfusa .days-table{max-height:calc(100vh - 186px);overflow:auto}
.atfusa .days-table .l-side #days{position: absolute;top:0;z-index:10;white-space: nowrap;}
.month-select{width:20%;max-width:200px;min-width: 60px;border:1px green solid;border-radius:5px;background:white;display:inline-block;height: 40px;line-height: 1;display: inline-flex;justify-content: center;align-items: center;font-size: 12px;}
#monthselect{width:100%;height: 40px;margin:-1px 0;position:absolute;opacity:0;font-size:18px;top:0;right:0;}


.atfusa.month .days-table .rooms .row {height: 16px;padding: 1px;}
.atfusa.month .days-table .r-side{display:none}
.atfusa.month .days-table .l-side{width:100%;margin:0}
.atfusa.month .days-table .l-side .rooms .row .order{height:14px;overflow:hidden;margin:0}
.atfusa.month .days-table .l-side .rooms .row::before{height:14px;width:14px;line-height:14px;font-size:10px;content:attr(data-num);color:#bbb}
.atfusa.month .days-table .l-side .rooms .row.busy::before{color:white}
.atfusa.month .days-table .l-side .day { width: calc(100% / 7); border: 1px transparent solid; border-top-color: #b0c7c9; border-left-color: #b0c7c9;box-sizing:border-box }
.atfusa.month .days-table .l-side .days{overflow:hidden}
.atfusa.month .days-table .l-side .rooms .row{border:0}
.atfusa.month .days-table .l-side .daydate{background:white}
.atfusa.month .days-table .l-side .daydate > div {font-size: 16px;width: 30px;font-weight: bold;display: inline-block;height: 30px;line-height: 30px;}
.atfusa.month .days-table .l-side .daydate span {font-size: 10px;line-height: 1;width: calc(100% - 30px);font-weight: normal;display: inline-block;text-align: right;height: 30px;vertical-align: middle;white-space: initial;}
.atfusa.month .days-table .l-side .daydate span div {display: table-cell;vertical-align: middle;height: 30px;}
.atfusa.month .days-table .l-side .top .row .day-name {padding: 10px 0;}
.atfusa.month .days-table .l-side .top .row {height: 50px;}
.atfusa.month .days-table .l-side .rooms .row .order *:not(.show) {display: none !important;}
.atfusa.month .days-table .l-side .rooms .row .order::after {display: none !important;}
.atfusa.month .days-table .l-side .rooms .row .order .roomNum { position: absolute; top: 0; font-size: 10px; line-height: 14px; right: 0; width: 16px; text-align: center; }
.atfusa.month .days-table .l-side .rooms .row .order .roomName { position: relative; margin: -4px; line-height: 14px; font-size: 8px; text-align: right; padding-right: 14px; color: rgba(255,255,255,0.8); }

#viewtype {height: 40px;display: flex;box-sizing: border-box;width: 42%;max-width: 240px;background: white;border-radius: 10px;padding: 0;border: 1px #0dabb6 solid;margin-top: 10px;position: absolute;left: 4px;top: -58px;font-size: 12px;line-height: 1;align-items: center;overflow: hidden;}
#viewtype a {display: flex;height: 42px;vertical-align: middle;box-sizing: border-box;margin: 0;text-decoration: none;color: #0dabb6;position: relative;border: 0;align-items: center;padding: 0 4px;text-align: center;}
#viewtype a:not(:first-child) {border-right: 1px #0dabb6 solid;}
#viewtype a.active {background: #0dabb6;color: white;}

#spaShiftsSelect {height: 40px;display: flex;box-sizing: border-box;width: 28%;max-width: 240px;background: white;border-radius: 10px;padding: 0;border: 1px #0dabb6 solid;margin-top: 10px;position: absolute;left: 4px;top: -8px;font-size: 12px;line-height: 1;align-items: center;overflow: hidden;}
#spaShiftsSelect a {display: flex;height: 42px;vertical-align: middle;box-sizing: border-box;margin: 0;text-decoration: none;color: #0dabb6;position: relative;border: 0;align-items: center;padding: 0 4px;text-align: center;width: 50%;justify-content: center;}
#spaShiftsSelect a:not(:first-child) {border-right: 1px #0dabb6 solid;}
#spaShiftsSelect a.active {background: #0dabb6;color: white;}


.atfusa .days-table .l-side .rooms .row .shift_idan {cursor: pointer;height: 90px;background: #0dabb6;border-radius: 3px;color: #fff;padding: 5px 0;position: absolute;right: 0;box-sizing: border-box;margin: 5px 0;font-size: 12px;display: inline-block;z-index: 5;overflow: hidden;display: flex;align-items: center;justify-content: center;}
.atfusa .days-table .l-side .rooms .row .shift_idan.break {background: #e73219;z-index: 9;}
.text_top{font-size: 20px;overflow: hidden;text-align: right;margin-right: 1%;margin-bottom: 10px;}
.text_bottom{text-align:right;margin-right: 1%;margin-bottom: 5px;}
.text_bottom_but{font-size: 16px;line-height: 40px;border: 1px solid black;border-radius: 30px;padding-right: 10px;padding-left: 10px;background: white;display: inline-block;margin-top: 5px;margin-bottom: 10px;cursor: pointer; margin-left:10px}
.text_bottom_but.break {border-color: #e77161;color: #e77161;font-size: 12px;}
.the_inline{display: inline-block;}
.the_res{position: relative;}
.the_remove_but{position: absolute;top: -10px;left: -5px;z-index: 1;cursor: pointer;}
.the_remove_but svg{fill:#e73219;}
.flex_idan_mid{display: flex;align-items: center;justify-content: center;}

#showSelect{font-size:16px}


.health_send {border: 0;background: none;padding: 0;margin: 12px 0 0;width: calc(52% - 30px);}
.calendar_type {margin: 0;height: 40px;min-width: auto;font-size: 14px;padding: 0;line-height: 1;}
.atfusa .days-table .l-side .rooms .row .order.allday {background: #e79b14;}

.atfusa .days-table .l-side .rooms .row .shift {cursor: pointer;height: 95px;background: rgb(255 255 255 / 80%);border-radius: 0;color: #fff;padding: 5px;position: absolute;right: 0;box-sizing: border-box;margin: 0 0;font-size: 12px;display: inline-block;overflow: hidden;z-index: -1;margin-top: 2px;border: 2px solid rgb(13 171 182 / 70%);}
.atfusa .days-table .l-side .rooms .row.female .shift {border-color: rgb(231 50 25 / 50%);}
.atfusa .days-table .l-side .rooms .row.nogender .shift {border-color: rgb(231 155 20 / 60%);}
.atfusa .days-table .l-side .rooms .row .shift.break {background: #888;z-index: 1;display: flex;justify-content: center;align-items: center;color: white;padding:0}
.atfusa .days-table .l-side .rooms .row .shift.break::after {content: "הפסקה";}


.atfusa .domain-icon{width: 18px;height: 18px;bottom: auto;top: 2px;right: 2px;left: auto;border: 0;font-size:12px;font-weight:bold}
.atfusa.month .days-table .l-side .rooms .row .shift {height: 14px;padding: 0;border-width: 3px;}
.atfusa .days-table .l-side .rooms .row .order .container {padding: 20px 5px;text-align: right;overflow: hidden;display: block;position: relative;height: 100%;box-sizing: border-box;cursor:pointer}
.atfusa .days-table .l-side .rooms .row .order.spa {background: linear-gradient(0deg, #c1deaa, #e2f4db);border-color: #c1deaa;border-color: white;}
.atfusa .days-table .r-side .rooms .row.female {background: #fbe4e1;color: #e66957;}

.atfusa .days-table .l-side .rooms .row .order.spa.t-Female {background: #fbe4e1;border-color: #eac4bf;background: linear-gradient(0deg, #eac4bf, #fbe4e1);border-color: white;}
.atfusa .days-table .l-side .rooms .row .order.spa.t-Male {background: #dbf2f4;border-color: #b8dbde;background: linear-gradient(0deg, #b8dbde, #dbf2f4);border-color: white;}
.atfusa .days-table .l-side .rooms .row .order .gender {position: absolute;left: 0;width: 20px;height: 18px;top: 0;/* background: black; *//* color: rgba(0,0,0,0.7); */border-radius: 0 0 50% 0;font-weight: bold;text-align: center;font-size: 16px;line-height: 18px;}
.atfusa .days-table .l-side .rooms .row .order .gender.male{background: #35b9c3;}
.atfusa .days-table .l-side .rooms .row .order .gender.female{background: #f39d92;}
.atfusa .days-table .r-side .rooms .row.nogender {background: #fcf2e2;color: #555;}

.atfusa .days-table .l-side .day .offHours {background: repeating-linear-gradient(45deg, rgb(85 85 85 / 50%) ,rgb(85 85 85 / 50%) 1.0px, transparent 1px, transparent 4px);width:attr('data-offwidth');height: 100%;position: absolute;z-index: -2;}
.atfusa .days-table .l-side .day .offHours.end{left:0;}
.atfusa .day .row.inactive {background: rgb(0 0 0 / 3%) !important;pointer-events: none!important;}

.atfusa .days-table .l-side .rooms .row::before {content: "";z-index: -5;background: #dbf2f4;width: 100%;height: 100%;position: absolute;right: 0;}
.atfusa .days-table .l-side .rooms .row.female::before {background: #fbe4e1;}
.atfusa .days-table .l-side .rooms .row.nogender::before {background: #fcf2e2;}

.atfusa.dayly .days-table .l-side .rooms .row {background: repeating-linear-gradient(90deg,#DDD 0px, #DDD 1px,transparent 1px, transparent 16.6%);}
.atfusa.dayly .days-table .l-side .top .row .day-date {transform: translateX(50%);text-shadow: 1px 1px 0px #fcf2e2 , 1px -1px 0px #fcf2e2, 0px -1px 1px #fcf2e2, -1px -1px 0px #fcf2e2;font-weight: bold;}
.atfusa.dayly .days-table .l-side .top .row .day-date::after {content: "30";position: absolute;left: -1px;transform: translateX(-50%);font-size: 10px;line-height: 14px;font-weight: normal;}
.atfusa.dayly .days-table .l-side .top .row .day-date::before {left: -1px;top: -50px;bottom: -40px;position: absolute;border-left: 1px #ccc dotted;content: "";}

.atfusa .days-table .r-side .rooms .row.fictive {box-shadow: 0 0 0 10px inset #fcf2e2;}	
.atfusa .days-table .l-side .rooms .row.fictive {}

.atfusa .settings {height: 40px;display: flex;box-sizing: border-box;width: 42%;max-width: 233px;border-radius: 10px;padding: 0;position: absolute;left: 4px;bottom: 0px;}
.atfusa .view-set {height: 40px;display: flex;box-sizing: border-box;width: 32%;max-width: 160px;background: white;border-radius: 10px;padding: 0;border: 1px #0dabb6 solid;left: 4px;bottom: 0px;font-size: 12px;line-height: 1;align-items: center;overflow: hidden;text-align: center;margin-left: 10px;justify-content: center;cursor: pointer;}
.atfusa.flipped .view-set {background: #0dabb6;color: white;}


.atfusa .time-set {height: 40px;display: flex;box-sizing: border-box;width: 62%;max-width: 160px;background: white;border-radius: 10px;padding: 0;border: 1px #0dabb6 solid;left: 4px;bottom: 0px;font-size: 12px;line-height: 1;align-items: center;overflow: hidden;}
.atfusa .time-set div{display: flex;height: 42px;vertical-align: middle;box-sizing: border-box;margin: 0;text-decoration: none;color: #0dabb6;position: relative;border: 0;align-items: center;padding: 0 4px;text-align: center;width:50%;justify-content: center;cursor: pointer;}
.atfusa .time-set div:first-child {background: #0dabb6;color: white;}
.atfusa.wide .days-table .l-side .day {width: 160px;}
.atfusa.wide .time-set div:first-child {background: white;color: #0dabb6;}
.atfusa.wide .time-set div:nth-child(2) {background: #0dabb6;color: white;}

.atfusa.month .days-table {width: 100%;}
.atfusa .days-table .l-side .rooms .row .order .cleanbreak {position: absolute;background: #c1deaa;left: 0;top: 0;bottom: 0;}
.atfusa .days-table .l-side .rooms .row .order.t-Female .cleanbreak{background:#eac4bf}
.atfusa .days-table .l-side .rooms .row .order.t-Male .cleanbreak{background:#b8dbde}

.atfusa.flipped .days-table .r-side {white-space: nowrap;width: 100%;display: flex;position: sticky;top: 0;right: 0;}
.atfusa.flipped .r-side .top {width: 100px;display: inline-block;white-space: initial;}
.atfusa.flipped .r-side .rooms {white-space: nowrap;display: inline-block;font-size:0}
.atfusa.flipped .days-table .r-side .rooms .row {display: inline-block;width: 100px;white-space: initial;}
.atfusa.flipped .days-table .l-side {margin: 0;max-width: none;white-space: initial;padding-right: 100px;position: relative;overflow:visible;display: block;padding-top: 0;}
.atfusa.flipped .days-table .l-side #days {width: 100px;position: absolute;top: 0 !important;display: inline-block;right: 0;}
.atfusa:not(.flipped) .days-table .l-side #days {right: 0 !important;}

.atfusa.flipped .days-table {overflow: auto;}
.atfusa.flipped .days-table .l-side #days .day {display: block;width: 100px;}
.atfusa.flipped .days-table .l-side .day {width: auto;white-space: nowrap;display:block}
.atfusa.flipped .days-table .l-side .rooms .row {width: 100px;display: inline-block;background: repeating-linear-gradient(0deg,#DDD 0px, #DDD 1px,transparent 1px, transparent 16.6%);}
.atfusa.flipped .days-table .top .row.month .buttons {display: none;}
.atfusa.flipped .days-table .top .row {width: 100px;}
.atfusa.flipped .days-table .l-side .top .row .day-date {transform: translateY(-53px);}
.atfusa.flipped .days-table .l-side .top .row .day-date::after {transform: translateY(50px);position: absolute;left: 0;right: 0;}
.atfusa.flipped .days-table .l-side .top .row .day-date::before {border-left: 0;width: 100%;left: 0;right: 0;border-top: 1px #ccc solid;bottom: auto;top: 56px;}
.atfusa.flipped .days-table .l-side .rooms .row .order .cleanbreak {top:auto;right:0}

.atfusa.flipped .day .row{transition:0.2s all}
.atfusa.wide.flipped .days-table .l-side .day .row, .atfusa.wide.flipped .days-table .r-side .day .row {height: 200px;}
.atfusa.flipped.wide .days-table .l-side .top .row .day-date::before {top: 106px;}
.atfusa.flipped.wide .days-table .l-side .top .row .day-date::after {transform: translateY(100px);}

.atfusa.wide.flipped .days-table.weekly .l-side .day .row, .atfusa.wide.flipped .days-table.weekly .r-side .day .row {height: 800px;}
.atfusa.wide.flipped .days-table.list .l-side .day .row, .atfusa.wide.flipped .days-table.list .r-side .day .row {height: 800px;}
.atfusa.flipped .days-table.weekly .l-side .day .row, .atfusa.flipped .days-table.weekly .r-side .day .row {height: 400px;}
.atfusa.flipped .days-table.list .l-side .day .row, .atfusa.flipped .days-table.list .r-side .day .row {height: 400px;}
.atfusa .days-table.weekly .l-side .rooms .row .order .container *,.atfusa .days-table.list .l-side .rooms .row .order .container * {display: none;font-size: 0;}
.atfusa.wide .days-table.weekly .l-side .day, .atfusa.wide .days-table.list .l-side .day {min-width: 300px;}


.atfusa .row .lock {position: absolute;left: 5px;bottom: 5px;width: 30px;height: 30px;background: white;z-index: 0;box-sizing: border-box;border-radius: 50%;border: 1px #CCC solid;cursor: pointer;z-index:9}
.atfusa .row .lock::after {position: absolute;width: 20px;height: 17px;content: "";opacity: 0.2;background-image: url(/user/assets/img/lock.svg);background-size: contain;background-repeat: no-repeat;left: 0;right: 0;top: 0;bottom: 2px;margin: auto;background-position: center;}
.atfusa .row .lock:hover {background: #cfeef0;}
.atfusa .row .lock.active {background: #0dabb6;}
.atfusa .row .lock.active::after{opacity:1;filter: contrast(0) brightness(6.5);}
.atfusa.flipped .row .lock {top: auto;bottom: 5px;}

.edit_shifts {position: absolute;left: 5px;bottom: 5px;width: 30px;height: 30px;background: white;z-index: 0;box-sizing: border-box;border-radius: 50%;border: 1px #CCC solid;cursor: pointer;z-index: 9;}
.edit_shifts::after {position: absolute;width: 20px;height: 17px;content: "";opacity: 0.2;background-image: url(/user/assets/img/clock.svg);background-size: contain;background-repeat: no-repeat;left: 0;right: 0;top: 0;bottom: 2px;margin: auto;background-position: center;}
.lock.day + .edit_shifts {left: 40px;}

.atfusa .days-table .l-side {cursor:grab}
.atfusa .days-table .l-side:active {cursor: grabbing !important;}
.atfusa .days-table .l-side:active * {user-select:none}


.atfusa.flipped .days-table .l-side .top .row .day-name{position:relative;z-index:1;background:#fcf2e2}
.atfusa.flipped .days-table .l-side .top .row .day-date{position:relative;z-index:2}
.atfusa.wide.flipped .days-table.weekly .l-side .row::after {line-height: calc(800px / 25);margin-top: calc(800px / 50);}
.atfusa.flipped .days-table.weekly .l-side .row::after {content: "01:00\A 02:00\A 03:00\A 04:00\A 05:00\A 06:00\A 07:00\A 08:00\A 09:00\A 10:00\A 11:00\A 12:00\A 01:00\A 13:00\A 14:00\A 15:00\A 16:00\A 17:00\A 18:00\A 19:00\A 20:00\A 21:00\A 22:00\A 23:00";white-space: pre;position: absolute;font-size: 12px;color: rgb(0 0 0 /30%);width: 100%;text-align: center;line-height: calc(400px / 25);margin-top: calc(400px / 50);top: 0;right: 0;}
.atfusa.flipped .days-table.weekly .l-side .row {background: repeating-linear-gradient(0deg,#DDD 0px, #DDD 1px,#fcf2e2 1px, #fcf2e2 calc(100% / 25));}
.atfusa.flipped .days-table.weekly .l-side .rooms .row {background: repeating-linear-gradient(0deg,#DDD 0px, #DDD 1px,transparent 1px, transparent calc(100% / 25));}

.atfusa.wide.flipped .days-table.list .l-side .row::after {line-height: calc(800px / 25);margin-top: calc(800px / 50);}
.atfusa.flipped .days-table.list .l-side .row::after {content: "01:00\A 02:00\A 03:00\A 04:00\A 05:00\A 06:00\A 07:00\A 08:00\A 09:00\A 10:00\A 11:00\A 12:00\A 01:00\A 13:00\A 14:00\A 15:00\A 16:00\A 17:00\A 18:00\A 19:00\A 20:00\A 21:00\A 22:00\A 23:00";white-space: pre;position: absolute;font-size: 12px;color: rgb(0 0 0 /30%);width: 100%;text-align: center;line-height: calc(400px / 25);margin-top: calc(400px / 50);top: 0;right: 0;}
.atfusa.flipped .days-table.list .l-side .row {background: repeating-linear-gradient(0deg,#DDD 0px, #DDD 1px,#fcf2e2 1px, #fcf2e2 calc(100% / 25));}
.atfusa.flipped .days-table.list .l-side .rooms .row {background: repeating-linear-gradient(0deg,#DDD 0px, #DDD 1px,transparent 1px, transparent calc(100% / 25));}


.atfusa.flipped .days-table .l-side .day .rooms {display: inline-flex;min-width: 100%;position:relative}
.atfusa.flipped .days-table .l-side .rooms .row {min-width: 100px;width: 50%;}
.atfusa.flipped .r-side .rooms {display: flex;min-width: calc(100% - 90px);}
.atfusa.flipped .days-table .r-side .rooms .row {min-width: 100px;width: 50%;}
.atfusa.flipped .days-table .l-side .rooms .row .shift{margin-top:0}
.atfusa.flipped .days-table .l-side .rooms .row .order{margin:0 10px;width:calc(100% - 20px) !important}

@media (min-width:1000px){

.health_send {max-width: 400px;font-size: 0;border: 1px #0dabb6 solid;border-radius: 10px;background: #cfeef0;right: 0;width: calc(52% - 50px);position: relative;}
.calendar_type {margin-top: 10px;font-size: 16px;display: table;width: calc(100% - 10px);height: 44px;border-radius: 8px;overflow: hidden;border: 1px #0dabb6 solid;box-sizing: border-box;margin: 10px 5px;}

.atfusa .days-table{border-right:1px solid #e89b14;border-left:1px solid #e89b14;}
.atfusa .top-buttons>a{width: 120px;height:50px;font-size:20px;line-height: 50px;}
.atfusa .top-buttons{padding:0}
.atfusa .top-buttons .clicks{font-size:16px}
.month-select {text-align: right;padding: 5px 10px;font-size:16px;height: 50px;}
.month-select::after{right:auto;top:0;left:10px}
.atfusa .top-buttons>a::before{display:none}

.atfusa .days-table .r-side{width:235px}
.atfusa .days-table .l-side{max-width: calc(100% - 235px);margin-right:235px;text-align: right;}
.atfusa .days-table .top .row.month .buttons>button.next::before,.atfusa .days-table .top .row.month .buttons>button.prev::before{content:none}
.atfusa .days-table .top .row.month .buttons>button{font-size:16px;font-weight:500;width:80px;margin:0 5px}
.atfusa .days-table .top .row.month .buttons{text-align:right;padding:0 10px;box-sizing:border-box}
.atfusa .days-table .top .row.month .month-label span{display:inline-block;vertical-align:middle;float:none}
.atfusa .days-table .top .row.month .month-label span.month-name{padding-left:4px}
.atfusa .days-table .top .row.month .month-label{text-align:right;padding:15px 15px 0 15px;box-sizing:border-box}
.atfusa .title{text-align:right;padding:20px;font-size:30px}
.tfusa.month .days-table .l-side .rooms .row .order .roomName{font-size:12px;line-height:12px}#viewtype {left: 0;}

#viewtype a {font-size: 14px;}
#viewtype {height: 44px;}

}



.day-wrap {border-bottom: 1px #777 solid;padding-top: 10px;background: #f5f5f5;}
.day-title {display: flex;font-size: 18px;align-items: center;margin-bottom: 10px;}
.day-title .text_bottom_but {margin: 0;font-size: 11px;width: 86px;box-sizing: border-box;line-height: 1;display: flex;height: 40px;align-items: center;padding-right: 30px;position:relative;border-color: #0dabb6;color: #0dabb6;cursor:pointer}
.day-title .text_bottom_but span {position:absolute;right:0;top:0;height:38px;line-height:38px;font-size:24px;font-weight:bold;width: 30px;text-align: center;}
.day-title .text_bottom_but span.dup::before {content: "";position: absolute;border: 2px #0dabb6 solid;border-radius: 4px;width: 10px;height: 10px;right: 5px;top: 10px;box-shadow: 0 0 0 1px white;z-index: 1;background: white;}
.day-title .text_bottom_but span.dup::after {content: "";position: absolute;border: 2px #0dabb6 solid;border-radius: 4px;width: 10px;height: 10px;right: 10px;top: 14px;}
.day-title .text_bottom_but.plus span {left: 0;width: auto;height: 20px;line-height: 1;}
.day-title .text_bottom_but.plus {padding: 0 0 2px;justify-content: center;align-items: flex-end;width: 66px;font-size: 14px;}
.day-title .text_bottom_but.plus.break {color: #e77161;border-color: #e77161;font-size: 12px;padding-bottom: 4px;width:56px}

.statusBtn.sticky-bottom {position: sticky;z-index: 1;bottom: -20px;background: #f5f5f5;padding-top: 10px;}

.weekly_shifts {position: absolute;top: 0;right: 0;width: 40px;height: 40px;display: flex;align-items: center;background: #0dabb6;color: white;justify-content: center;text-align: center;cursor:pointer}
.popup#dupshifts{right:0}
.popup#dupshifts .popup_container{height:300px;padding:0 10px}
.dupdays {display: flex;}
.dupdays .checkwrap {width: calc(100% / 7);}
.dupdays .checkwrap input {width: 30px;height: 30px;}
.dupdays .checkwrap.disabled {opacity: 0.3;pointer-events: none;}
.dupbuttons {display: flex;font-size: 14px;margin-top: 30px;justify-content: space-around;}
.dupbtn {display: flex;color: white;background: #0dabb6;flex-direction: column;width: 48%;padding: 5px;box-sizing: border-box;justify-content: center;border-radius:10px;cursor:pointer}

@media(max-width:992px){
.weekly_shifts {width:100%;height: 34px;background: rgb(13 170 181 / 20%);color: black;align-items: start;}
.the_shift_zonesss  .inputWrap.half {width: 48%;}
.calendar_type{font-size:12px}
}
