.global_edit{z-index:99;display:block;position:fixed;top:0;right:0;left:0;bottom:0;width:100%;height:100%;background:rgba(0,0,0,.6)}
.popup{z-index:101;display:none;position:fixed;top:0;right:0;left:0;bottom:0;width:100%;height:100%;background:rgba(0,0,0,.6)}
.popup .close{position:absolute;top:10px;left:10px;cursor:pointer}
.popup .popup_container{position:absolute;top:50%;right:50%;transform:translateY(-50%) translate(50%);width:calc(100% - 10px);max-width:360px;height:calc(100vh - 10px);max-height:600px;background:#fff;border-radius:8px;overflow:auto;padding:0 40px;box-sizing:border-box}
.popup .title{display:block;text-align:center;font-size:26px;font-weight:500;padding:20px 0}
.global_edit .container{position:absolute;top:50%;right:50%;transform:translateY(-50%) translate(50%);width:calc(100% - 10px);max-width:650px;height:100%;max-height:calc(100vh - 10px);background:#f5f5f5;border-radius:8px;overflow:auto}
.global_edit .container .close{position:absolute;top:14px;left:14px;cursor:pointer;z-index:2}
.global_edit .container .close svg{fill:#aaa;width:17px;height:17px}
.global_edit .container>.title{display:block;font-weight:500;color:#333;font-size:30px;text-align:center;padding:12px 0 13px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,.5);z-index:1;position:relative}
.global_edit .container>.title .domain-icon{width:40px;height:40px;top:10px;right:10px}
.global_edit .container .tabs{display:block;text-align:center;margin:10px 0;font-size:0}
.global_edit .container .tabs .tab{display:inline-block;width:100%;max-width:120px;border-radius:7px;color:#0dabb6;height:40px;line-height:40px;margin:0 5px;font-size:16px;cursor:pointer;transition:all .2s ease;background:#fff;filter:drop-shadow(0 0 1.5px rgba(2, 3, 3, .2))}
.global_edit .container .tabs .tab.active{background:#2ab5bf;background:-moz-linear-gradient(top,#2ab5bf 0,#3dbcc5 49%,#0dabb6 52%,#0dabb6 100%);background:-webkit-linear-gradient(top,#2ab5bf 0,#3dbcc5 49%,#0dabb6 52%,#0dabb6 100%);background:linear-gradient(to bottom,#2ab5bf 0,#3dbcc5 49%,#0dabb6 52%,#0dabb6 100%);color:#fff}
.global_edit .form{display:block;padding:20px;box-sizing:border-box;font-size:0;overflow:auto;position:absolute;left:0;right:0;top:60px;bottom:0;height:auto}
.signature .global_edit .form{top:45px}
.signature a{color:inherit}
.global_edit .inputWrap svg{position:absolute;top:50%;left:10px;transform:translateY(-50%);fill:#0dabb6}
.global_edit .inputWrap{border-radius:3px;font-size:14px;filter:drop-shadow(0 1px 1px rgba(2, 3, 3, .1));position:relative;height:auto;min-height:60px;background-color:#fff;border:1px solid #eee;display:inline-block;width:100%;max-width:98%;margin:0 1% 10px 1%;box-sizing:border-box}
.global_edit .inputWrap.date.four{max-width:58%}
.global_edit .inputWrap.date.time.four{max-width:38%}
.global_edit .inputWrap>label{position:absolute;top:3px;transform:none;right:5px;font-size:14px;color:#0dabb6;font-weight:500;line-height:1;transition:all .2s ease}
.global_edit .inputWrap.signature>label{font-size:20px}
.global_edit .inputWrap>input.empty:not(:focus)+label{font-size:20px;font-weight:400;top:50%;transform:translateY(-50%);padding-right:10px;opacity:.5}
.global_edit .inputWrap>input{font-size:20px;position:absolute;top:0;right:0;left:0;bottom:0;width:100%;height:100%;background:0 0;padding:0 10px;box-sizing:border-box;z-index:2;color:#333}
.global_edit .inputWrap>textarea{color:#000;font-size:20px;width:100%;height:100%;background:0 0;padding:20px 10px 10px;box-sizing:border-box;-webkit-transform:translateZ(0);-webkit-overflow-scrolling:touch}
.global_edit .inputWrap.submit{background:#e73219;color:#fff;text-align:center;font-size:30px;font-weight:500;cursor:pointer;border-radius:3px}
.global_edit .cancelOrderBtn{box-sizing:border-box;width:100%;max-width:98%;margin:0 1% 10px 1%;background:#c03;color:#fff;text-align:center;font-size:30px;font-weight:500;cursor:pointer;border:1px solid #eee;border-radius:3px;line-height:60px}
.global_edit .delOrderBtn{display:none;box-sizing:border-box;width:100%;max-width:98%;margin:0 1% 10px 1%;background:#c03;color:#fff;text-align:center;font-size:30px;font-weight:500;cursor:pointer;border:1px solid #eee;border-radius:3px;line-height:60px}
.global_edit .signBtn{display:none;box-sizing:border-box;width:100%;max-width:48%;margin:0 1% 40px 1%;background:#03f;color:#fff;text-align:center;font-size:30px;font-weight:500;cursor:pointer;border:1px solid #eee;border-radius:3px;line-height:60px}
.global_edit .signBtn.show{display:block}
.global_edit .inputWrap>select{position:absolute;top:0;right:0;left:0;bottom:0;width:100%;height:100%;background:0 0;font-size:20px;color:#333;padding:0 10px;box-sizing:border-box}
.global_edit .inputWrap:not(.date)>input{color:#333}
.global_edit .inputWrap:not(.date)>input::-webkit-input-placeholder{color:#0dabb6}
.global_edit .inputWrap:not(.date) input:read-only{background:rgba(13 ,171 ,182,.2);cursor:initial}
.global_edit .inputWrap.textarea>textarea::-webkit-input-placeholder{color:#0dabb6}
.global_edit .inputWrap.textarea{height:180px}
.global_edit .inputWrap .short-desc{font-size:16px;padding:20px 5px;display:block;box-sizing:border-box}
.global_edit .statusBtn.del .cancelOrderBtn{display:none}
.global_edit .statusBtn.del .delOrderBtn{display:block}
.global_edit .rooms .room{cursor:pointer;border-radius:3px;font-size:14px;filter:drop-shadow(0 1px 1px rgba(2, 3, 3, .1));position:relative;height:auto;min-height:60px;background-color:#fff;border:1px solid #eee;display:inline-block;width:100%;max-width:98%;margin:0 1% 10px 1%;box-sizing:border-box}
.global_edit .rooms .room .title{float:right;display:inline-block;color:#777;font-size:20px;line-height:58px;position:relative;padding-right:50px}
.signature .global_edit .rooms .room .title{padding-right:10px}
.signature .rooms select{text-align-last:center}
.signature .global_edit .inputWrap input{background:0 0!important}
.global_edit .rooms input:checked+.room{border:1px solid #0dabb6}
.global_edit .rooms input:checked+.room .title{color:#0dabb6}
.global_edit .rooms input:not(:checked)+.room .l::after{content:"";position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(255,255,255,.7)}
.global_edit .rooms .room .title::before{content:'';position:absolute;top:50%;right:10px;width:30px;height:30px;box-sizing:border-box;border:1px solid #d0d0d0;border-radius:30px;transform:translateY(-50%);transition:all .2s ease}
.global_edit .rooms .room .title::after{content:'';position:absolute;top:50%;right:13px;transform:translateY(-50%);width:24px;height:24px;border-radius:25px;background:#0dabb6;opacity:0;transition:all .2s ease}
.global_edit .rooms input[type=radio]{display:none}
.global_edit .rooms input[type=checkbox]{display:none}
.global_edit .rooms .room .l{display:block;text-align:center;position:relative;margin-bottom:10px;clear:both}
.global_edit .rooms .room .l .payments{border-top:1px #ccc solid;margin-top:10px;margin-bottom:10px}
.global_edit .rooms .room .l .payments .meals{height:40px;border-bottom:1px #ccc solid;margin-bottom:10px;padding:5px 0}
.global_edit .rooms .room .l .payments .meals select{width:calc(100% - 20px);height:40px;font-size:16px}
.global_edit .rooms .room .l .payments .dataInp{width:calc(100% - 20px);margin:0 5px}
.global_edit .rooms .room .l .dataInp input{width:100%;border:1px #ccc solid;margin-top:-18px;height:50px;background:0 0;text-align:center;font-size:20px;padding-top:10px;box-sizing:border-box}
.global_edit .rooms input:not(:checked)+.room .l{display:none}
.global_edit .rooms .room .l .dataInp{display:inline-block;width:45px;text-align:center;margin-right:20px;position:relative}
.global_edit .rooms .room .l .dataInp.adults::before,.global_edit .rooms .room .l .dataInp.babies::before,.global_edit .rooms .room .l .dataInp.kids::before{content:'';position:absolute;top:50%;left:0;border-left:2px solid #000;border-bottom:2px solid #000;width:5px;height:5px;transform:rotate(-45deg)}
.global_edit .rooms .room .l .dataInp label{font-size:14px;color:#0dabb6;display:block;margin:0 -10px;text-align:center}
.global_edit .rooms .room .l .dataInp select{height:30px;width:100%;font-size:20px;appearance:none;-webkit-appearance:none}
.global_edit .rooms input:not(:checked)+.room .l .payments{display:none}
.global_edit .rooms input:checked+.room .title::before{border-color:#14adb8}
.global_edit .rooms input:checked+.room .title::after{opacity:1}
.global_edit .text-wrapper{font-size:18px;margin:30px 0}
.global_edit .text-wrapper .question{margin:30px 20px;position:relative}
.global_edit .text-wrapper .question::before{content:"";width:10px;height:10px;background:#0dabb6;display:block;position:absolute;margin-right:-18px;margin-top:6px;border-radius:50%}
.global_edit .text-wrapper .question input[type=checkbox]{height:30px;width:30px;margin-top:-4px;margin-left:5px;position:absolute}
.global_edit .text-wrapper .question input[type=checkbox]+span{padding-right:40px;display:inline-block}
.global_edit .text-wrapper .question select{clear:both;display:block;border:1px #000 solid;padding:8px 10px;margin-top:6px;-webkit-appearance:auto;background:#d4f6f9}
.global_edit .text-wrapper .question.checked::after{content:"";position:absolute;bottom:11px;right:-16px;width:4px;height:8px;border-right:3px #0dabb6 solid;border-bottom:3px #0dabb6 solid;transform:rotate(45deg)}
.global_edit .text-wrapper .question .extra{display:none}
.global_edit .text-wrapper .question.open .extra{display:block}
.global_edit .text-wrapper .question .extra input{width:300px;max-width:calc(100% - 20px);border-bottom:1px #ccc solid;margin:0 10px;font-size:18px}
.global_edit .text-wrapper .question .extra span{display:inline-block}
.global_edit .text-wrapper .question .extra div{margin:10px 0}
.signature .global_edit .inputWrap.signature{margin-bottom:70px;padding-top:40px}
.signature .global_edit .inputWrap.signature .btnWrap{text-align:center;margin-bottom:20px}
.signature .global_edit .inputWrap.signature .waze{background-image:url(../img/waze.png)}
.signature .global_edit .inputWrap.signature .addToCal{background-image:url(../img/dl.png)}
.signature .global_edit .inputWrap.signature .print{background-image:url(../img/printer-4-48.png);background-size:70%!important}
.signature .global_edit .inputWrap.signature .google{background-image:url(../img/google.png)}
.signature .global_edit .inputWrap.signature .signBtn{position:relative;width:80px;height:80px;border-radius:100px;background-color:#0dabb6;display:inline-block;color:#555;background-size:contain;background-repeat:no-repeat;background-position:center center}
.signature .global_edit .inputWrap.signature .signBtn span{position:absolute;bottom:-40px;left:0;right:0;font-size:18px;font-weight:400}
.page-signature .global_edit .inputWrap.signature{height:180px}
.cuponspop{z-index:99;display:block;position:fixed;top:0;right:0;left:0;bottom:0;width:100%;height:100%;background:rgba(0,0,0,.6)}
.popup{z-index:101;display:none;position:fixed;top:0;right:0;left:0;bottom:0;width:100%;height:100%;background:rgba(0,0,0,.6)}
.popup .close{position:absolute;top:10px;left:10px;cursor:pointer}
.popup .popup_container{position:absolute;top:50%;right:50%;transform:translateY(-50%) translate(50%);width:calc(100% - 10px);max-width:360px;height:calc(100vh - 10px);max-height:600px;background:#fff;border-radius:8px;overflow:auto;padding:0 40px;box-sizing:border-box}
.popup .title{display:block;text-align:center;font-size:26px;font-weight:500;padding:20px 0}
.cuponspop .container{position:absolute;top:50%;right:50%;transform:translateY(-50%) translate(50%);width:calc(100% - 10px);max-width:650px;height:100%;max-height:calc(100vh - 10px);background:#f5f5f5;border-radius:8px;overflow:auto}
.cuponspop .container .close{position:absolute;top:14px;left:14px;cursor:pointer;z-index:2}
.cuponspop .container .close svg{fill:#aaa;width:17px;height:17px}
.cuponspop .container>.title{display:block;font-weight:500;color:#333;font-size:30px;text-align:center;padding:12px 0 13px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,.5);z-index:1;position:relative}
.cuponspop .container>.title .domain-icon{width:40px;height:40px;top:10px;right:10px}
.cuponspop .container .tabs{display:block;text-align:center;margin:10px 0;font-size:0}
.cuponspop .container .tabs .tab{display:inline-block;width:100%;max-width:120px;border-radius:7px;color:#0dabb6;height:40px;line-height:40px;margin:0 5px;font-size:16px;cursor:pointer;transition:all .2s ease;background:#fff;filter:drop-shadow(0 0 1.5px rgba(2, 3, 3, .2))}
.cuponspop .container .tabs .tab.active{background:#2ab5bf;background:-moz-linear-gradient(top,#2ab5bf 0,#3dbcc5 49%,#0dabb6 52%,#0dabb6 100%);background:-webkit-linear-gradient(top,#2ab5bf 0,#3dbcc5 49%,#0dabb6 52%,#0dabb6 100%);background:linear-gradient(to bottom,#2ab5bf 0,#3dbcc5 49%,#0dabb6 52%,#0dabb6 100%);color:#fff}
.cuponspop .form{display:block;padding:20px;box-sizing:border-box;font-size:0;overflow:auto;position:absolute;left:0;right:0;top:60px;bottom:0;height:auto}
.signature .cuponspop .form{top:45px}
.signature a{color:inherit}
.cuponspop .inputWrap svg{position:absolute;top:50%;left:10px;transform:translateY(-50%);fill:#0dabb6}
.cuponspop .inputWrap{border-radius:3px;font-size:14px;filter:drop-shadow(0 1px 1px rgba(2, 3, 3, .1));position:relative;height:auto;min-height:60px;background-color:#fff;border:1px solid #eee;display:inline-block;width:100%;max-width:98%;margin:0 1% 10px 1%;box-sizing:border-box}
.cuponspop .inputWrap.date.four{max-width:58%}
.cuponspop .inputWrap.date.time.four{max-width:38%}
.cuponspop .inputWrap>label{position:absolute;top:3px;transform:none;right:5px;font-size:14px;color:#0dabb6;font-weight:500;line-height:1;transition:all .2s ease}
.inputWrap> input[type="file"] + label {padding: 10px;border: 1px #0dabb6 solid;padding-left: 40px;border-radius: 20px;background-color: rgba(240,240,240,0.8);background-image: url(/user/assets/img/upload.svg);background-size: 16px;background-repeat: no-repeat;background-position: left 10px center;cursor:pointer}
.cuponspop .inputWrap.signature>label{font-size:20px}
.cuponspop .inputWrap>input.empty:not(:focus)+label{font-size:20px;font-weight:400;top:50%;transform:translateY(-50%);padding-right:10px;opacity:.5}
.cuponspop .inputWrap>input{font-size:20px;position:absolute;top:0;right:0;left:0;bottom:0;width:100%;height:100%;background:0 0;padding:0 10px;box-sizing:border-box;z-index:2;color:#333}
.cuponspop .inputWrap>textarea{color:#000;font-size:20px;width:100%;height:100%;background:0 0;padding:20px 10px 10px;box-sizing:border-box;-webkit-transform:translateZ(0);-webkit-overflow-scrolling:touch}
.cuponspop .inputWrap.submit{background:#e73219;color:#fff;text-align:center;font-size:30px;font-weight:500;cursor:pointer;border-radius:3px}
.cuponspop .cancelOrderBtn{box-sizing:border-box;width:100%;max-width:98%;margin:0 1% 10px 1%;background:#c03;color:#fff;text-align:center;font-size:30px;font-weight:500;cursor:pointer;border:1px solid #eee;border-radius:3px;line-height:60px}
.cuponspop .delOrderBtn{display:none;box-sizing:border-box;width:100%;max-width:98%;margin:0 1% 10px 1%;background:#c03;color:#fff;text-align:center;font-size:30px;font-weight:500;cursor:pointer;border:1px solid #eee;border-radius:3px;line-height:60px}
.cuponspop .signBtn{display:none;box-sizing:border-box;width:100%;max-width:48%;margin:0 1% 40px 1%;background:#03f;color:#fff;text-align:center;font-size:30px;font-weight:500;cursor:pointer;border:1px solid #eee;border-radius:3px;line-height:60px}
.cuponspop .signBtn.show{display:block}
.cuponspop .inputWrap>select{position:absolute;top:0;right:0;left:0;bottom:0;width:100%;height:100%;background:0 0;font-size:20px;color:#333;padding:0 10px;box-sizing:border-box}
.cuponspop .inputWrap:not(.date)>input{color:#333}
.cuponspop .inputWrap:not(.date)>input::-webkit-input-placeholder{color:#0dabb6}
.cuponspop .inputWrap:not(.date) input:read-only{background:rgba(13 ,171 ,182,.2);cursor:initial}
.cuponspop .inputWrap.textarea>textarea::-webkit-input-placeholder{color:#0dabb6}
.cuponspop .inputWrap.textarea{height:180px}
.cuponspop .inputWrap.textarea img{max-height:100%}
.cuponspop .inputWrap .short-desc{font-size:16px;padding:20px 5px;display:block;box-sizing:border-box}
.cuponspop .statusBtn.del .cancelOrderBtn{display:none}
.cuponspop .statusBtn.del .delOrderBtn{display:block}
.cuponspop .rooms .room{cursor:pointer;border-radius:3px;font-size:14px;filter:drop-shadow(0 1px 1px rgba(2, 3, 3, .1));position:relative;height:auto;min-height:60px;background-color:#fff;border:1px solid #eee;display:inline-block;width:100%;max-width:98%;margin:0 1% 10px 1%;box-sizing:border-box}
.cuponspop .rooms .room .title{float:right;display:inline-block;color:#777;font-size:20px;line-height:58px;position:relative;padding-right:50px}
.signature .cuponspop .rooms .room .title{padding-right:10px}
.signature .rooms select{text-align-last:center}
.signature .cuponspop .inputWrap input{background:0 0!important}
.cuponspop .rooms input:checked+.room{border:1px solid #0dabb6}
.cuponspop .rooms input:checked+.room .title{color:#0dabb6}
.cuponspop .rooms input:not(:checked)+.room .l::after{content:"";position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(255,255,255,.7)}
.cuponspop .rooms .room .title::before{content:'';position:absolute;top:50%;right:10px;width:30px;height:30px;box-sizing:border-box;border:1px solid #d0d0d0;border-radius:30px;transform:translateY(-50%);transition:all .2s ease}
.cuponspop .rooms .room .title::after{content:'';position:absolute;top:50%;right:13px;transform:translateY(-50%);width:24px;height:24px;border-radius:25px;background:#0dabb6;opacity:0;transition:all .2s ease}
.cuponspop .rooms input[type=radio]{display:none}
.cuponspop .rooms input[type=checkbox]{display:none}
.cuponspop .rooms .room .l{display:block;text-align:center;position:relative;margin-bottom:10px;clear:both}
.cuponspop .rooms .room .l .payments{border-top:1px #ccc solid;margin-top:10px;margin-bottom:10px}
.cuponspop .rooms .room .l .payments .meals{height:40px;border-bottom:1px #ccc solid;margin-bottom:10px;padding:5px 0}
.cuponspop .rooms .room .l .payments .meals select{width:calc(100% - 20px);height:40px;font-size:16px}
.cuponspop .rooms .room .l .payments .dataInp{width:calc(100% - 20px);margin:0 5px}
.cuponspop .rooms .room .l .dataInp input{width:100%;border:1px #ccc solid;margin-top:-18px;height:50px;background:0 0;text-align:center;font-size:20px;padding-top:10px;box-sizing:border-box}
.cuponspop .rooms input:not(:checked)+.room .l{display:none}
.cuponspop .rooms .room .l .dataInp{display:inline-block;width:45px;text-align:center;margin-right:20px;position:relative}
.cuponspop .rooms .room .l .dataInp.adults::before,.cuponspop .rooms .room .l .dataInp.babies::before,.cuponspop .rooms .room .l .dataInp.kids::before{content:'';position:absolute;top:50%;left:0;border-left:2px solid #000;border-bottom:2px solid #000;width:5px;height:5px;transform:rotate(-45deg)}
.cuponspop .rooms .room .l .dataInp label{font-size:14px;color:#0dabb6;display:block;margin:0 -10px;text-align:center}
.cuponspop .rooms .room .l .dataInp select{height:30px;width:100%;font-size:20px;appearance:none;-webkit-appearance:none}
.cuponspop .rooms input:not(:checked)+.room .l .payments{display:none}
.cuponspop .rooms input:checked+.room .title::before{border-color:#14adb8}
.cuponspop .rooms input:checked+.room .title::after{opacity:1}
.cuponspop .text-wrapper{font-size:18px;margin:30px 0}
.cuponspop .text-wrapper .question{margin:30px 20px;position:relative}
.cuponspop .text-wrapper .question::before{content:"";width:10px;height:10px;background:#0dabb6;display:block;position:absolute;margin-right:-18px;margin-top:6px;border-radius:50%}
.cuponspop .text-wrapper .question input[type=checkbox]{height:30px;width:30px;margin-top:-4px;margin-left:5px;position:absolute}
.cuponspop .text-wrapper .question input[type=checkbox]+span{padding-right:40px;display:inline-block}
.cuponspop .text-wrapper .question select{clear:both;display:block;border:1px #000 solid;padding:8px 10px;margin-top:6px;-webkit-appearance:auto;background:#d4f6f9}
.cuponspop .text-wrapper .question.checked::after{content:"";position:absolute;bottom:11px;right:-16px;width:4px;height:8px;border-right:3px #0dabb6 solid;border-bottom:3px #0dabb6 solid;transform:rotate(45deg)}
.cuponspop .text-wrapper .question .extra{display:none}
.cuponspop .text-wrapper .question.open .extra{display:block}
.cuponspop .text-wrapper .question .extra input{width:300px;max-width:calc(100% - 20px);border-bottom:1px #ccc solid;margin:0 10px;font-size:18px}
.cuponspop .text-wrapper .question .extra span{display:inline-block}
.cuponspop .text-wrapper .question .extra div{margin:10px 0}
.signature .cuponspop .inputWrap.signature{margin-bottom:70px;padding-top:40px}
.signature .cuponspop .inputWrap.signature .btnWrap{text-align:center;margin-bottom:20px}
.signature .cuponspop .inputWrap.signature .waze{background-image:url(../img/waze.png)}
.signature .cuponspop .inputWrap.signature .addToCal{background-image:url(../img/dl.png)}
.signature .cuponspop .inputWrap.signature .print{background-image:url(../img/printer-4-48.png);background-size:70%!important}
.signature .cuponspop .inputWrap.signature .google{background-image:url(../img/google.png)}
.signature .cuponspop .inputWrap.signature .signBtn{position:relative;width:80px;height:80px;border-radius:100px;background-color:#0dabb6;display:inline-block;color:#555;background-size:contain;background-repeat:no-repeat;background-position:center center}
.signature .cuponspop .inputWrap.signature .signBtn span{position:absolute;bottom:-40px;left:0;right:0;font-size:18px;font-weight:400}
.page-signature .cuponspop .inputWrap.signature{height:180px}
.pay_order{z-index:99;display:block;position:fixed;top:0;right:0;left:0;bottom:0;width:100%;height:100%;background:rgba(0,0,0,.6)}
.pay_order .inputLblWrap .switch input:checked+.slider span{display:block;padding-right:0}
.pay_order .inputLblWrap .switch input+.slider span{display:block;font-size:16px;color:#fff;font-weight:500;line-height:34px;padding-right:10px}
.pay_order .inputLblWrap .switch input:checked+.slider:after{content:'';position:absolute;top:44%;right:0;width:10px;height:2px;border-left:2px solid #0dabb6;border-bottom:2px solid #0dabb6;transform:rotate(-45deg);right:11px}
.last-orders .items .order.allpaid ul li.send>div .orderPrice.new{border-color:#0dabb6;background:#f5fcfc}
.last-orders .items .order.allpaid ul li.send>div .orderPrice.new svg{fill:#0dabb6}
.last-orders .items .order.allpaid ul li.send>div .orderPrice.new>span>span{color:#0dabb6}
section.cuponscards{text-align:center;box-sizing:border-box}
section.cuponscards>.title{display:block;font-size:24px}
.top-btns{display:block;text-align:center}
.cuponscard .inside{height:120px;vertical-align:middle;display:table-cell;width:100%}
.cuponscard .r{display:inline-block;width:100%;max-width:calc(100% - 300px);font-size:16px}
.cuponscard .r .title{font-weight:800;color:#0dabb6}
.cuponscard .l{text-align:center;display:inline-block;width:100%;max-width:150px}
.cuponscard .active .inside{width:150px}
.page-options{float:left}
.clear{clear:both}
.add-new,.page-options,.save,.top-btns>div{background:#0dabb6;font-size:16px;display:inline-block;padding:15px 30px;box-sizing:border-box;color:#fff;cursor:pointer;border-radius:10px;margin:0 5px}
.edit svg{fill:#0dabb6}
.remove svg{fill:#a1aaad}
.add-new{display:block;float:right;max-width:150px}
.cuponscards-list{clear:both;margin:20px 0}
.cuponscards-list>.cuponscard{position:relative;font-size:0;background:#fff;text-align:Right;min-height:120px;border-radius:10px;border:1px solid #ccc;box-sizing:border-box;box-shadow:-1px 0 5px rgba(2,3,3,.1);margin-top:20px}
.slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;-webkit-transition:.4s;transition:.4s}
.slider:before{position:absolute;content:"";height:26px;width:26px;left:4px;bottom:4px;background-color:#fff;-webkit-transition:.4s;transition:.4s}
input:checked+.slider{background-color:#0dabb6}
input:focus+.slider{box-shadow:0 0 1px #0dabb6}
.cuponscard .active{width:100%;display:inline-block;max-width:150px;text-align:center;font-size:16px;font-weight:800;color:#0dabb6}
.cuponscard input[type=checkbox]{display:none}
input:checked+.slider:before{left:calc(100% - 30px);}
.switch{position:relative;display:inline-block;width:60px;height:34px}
.slider.round{border-radius:34px}
.slider.round:before{border-radius:50%}
.cuponscard .l svg{width:40px;height:Auto}
.cuponscard .l .inside>div{display:inline-block;vertical-align:middle;cursor:pointer}
.cuponscard .l .inside{width:150px;padding-left:20px;box-sizing:border-box}
.cuponscard .ordercards {position: absolute;
    right: 0;
    display: block;
    left: auto;
    top: 40px;
    width: 50px;
    height: 80px;
}

.cuponscard .ordercards a.ord {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    font-size: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


a.ord.up {
    transform: rotate(90deg);
    margin-top:-50%
}
.cuponscard:first-of-type .ordercards a.ord.up {display:none}

a.ord.down {
    transform: rotate(-90deg);
    top: auto;
    bottom: 0px;
    margin-top:50%
}
.cuponscard:last-of-type .ordercards a.ord.down {display:none}
@media (min-width:1000px){
    .global_edit{width:calc(100% - 300px);right:300px}
    .global_edit .inputWrap{height:60px}
    .global_edit .rooms .room{min-height:60px}
    .global_edit .inputWrap.half{max-width:48%;margin:0 1% 10px 1%}
    .global_edit .inputWrap.four{max-width:23%}
    .global_edit .inputWrap.three{max-width:31.33%}
    .global_edit .inputWrap.date.four{max-width:28%}
    .global_edit .inputWrap.date.time.four{max-width:18%}

    .cuponspop form>.half {
        display: inline-block;
        width: 100%;
        max-width: 48%;
        margin: 0 1% 10px 1%;
    }

    .cuponspop{width:calc(100% - 300px);right:300px}
    .cuponspop .inputWrap{height:60px}
    .cuponspop .rooms .room{min-height:60px}
    .cuponspop .inputWrap.half{max-width:48%;margin:0 1% 10px 1%}
    .cuponspop .inputWrap.four{max-width:23%}
    .cuponspop .inputWrap.three{max-width:31.33%}
    .cuponspop .inputWrap.date.four{max-width:28%}
    .cuponspop .inputWrap.date.time.four{max-width:18%}

    .cuponspop label.switch {
        top: 20px;
    }

}