.add-new {background:#0dabb6;font-size:16px;padding:15px 30px;box-sizing:border-box;color:#fff;cursor:pointer;border-radius:10px;margin:0 5px;display:block;float:right;max-width:150px}

table.giftcards-log{background:#fff;margin:20px auto;text-align:center;box-sizing:border-box}
table.giftcards-log td,table.giftcards-log th{padding:10px;border-bottom:.5px solid #0dabb6;border-left:.5px solid #0dabb6;border-right:.5px solid #0dabb6;border-top:.5px solid #0dabb6;}
table.giftcards-log td.ltr-r {direction:ltr; text-align:right}
.giftcard.gift-pop{position:fixed;top:0;left:0;bottom:0;background:rgba(0,0,0,.6);width:100%;right:0;height:100vh;z-index:9}
.giftcard.gift-pop .gift_container{position:absolute;top:50%;right:50%;transform:translateY(-50%) translateX(50%);width:100%;max-width:800px;background:#e0e0e0;padding:10px;text-align:right;box-sizing:border-box}
.giftcard.gift-pop .gift_inside{background:#fff;box-shadow:0 0 2px rgb(0 0 0 / 60%);position:relative;}
.giftcard.gift-pop .gift_inside>.title{padding:20px;box-sizing:border-box}
.giftcard.gift-pop .gift_container ul {list-style: none;font-size: 0;padding: 10px;box-sizing: border-box;max-height: calc(100vh - 220px);overflow: auto;}
.giftcard.gift-pop .gift_container ul li {display: inline-block;width: 100%;max-width: 33.33%;font-size: 16px;padding-left: 20px;box-sizing: Border-box;}
.giftcard.gift-pop .gift_container ul li>div .title{display:inline-block;width:130px;color:#9e9e9e;padding-bottom:4px}
.giftcard.gift-pop .gift_container ul li>div .con{display:inline-block;width:100%}
.giftcard.gift-pop .gift_container ul li:last-child{padding:0;}
.giftcard.gift-pop.mimush .gift_container ul li:last-child{max-width:66%}
.giftcard.gift-pop .gift_container ul li>div{min-height:30px;margin-bottom:10px}
.giftcard.gift-pop .gift_inside>.close{position:Absolute;top:10px;left:10px;width:20px;height:20px;padding: 4px;box-sizing:border-box;border:1px solid #0dabb6;cursor:pointer;border-radius:20px}
.giftcard.gift-pop .gift_inside>.close svg{width:100%;height:auto;fill:#0dabb6}
.giftcard.gift-pop .gift_inside>hr{height:2px;background:#e0e0e0;display:block;margin-bottom:10px}
.bottom-btns{display:block;text-align:center}
.bottom-btns>div{cursor:pointer;background:#0dabb6;display:inline-block;margin:0 5px 10px 5px;line-height:40px;padding:0 20px;box-sizing:border-box;color:white}
.bottom-btns>div.refund {width:118px; background-color:#e79b14}
.fast-find{background:#0dabb6;margin:20px auto 0;display:block;padding:5px;border:1px solid #0dabb6;border-radius:8px;left:0;right:0;position:relative;box-sizing:border-box;max-width:300px;width:100%}
.fast-find .inputWrap{background:#fff;border-radius:8px;position:relative;height:50px}
.fast-find .inputWrap .submit{position:absolute;top:50%;left:5px;width:45px;height:45px;transform:translateY(-50%);background:#000;fill:#fff;border-radius:50px;padding:12px;box-sizing:border-box;cursor:pointer}
.fast-find .inputWrap input{position:absolute;top:0;right:0;left:0;bottom:0;width:100%;height:100%;border-radius:8px;background:0 0;font-size:18px;padding:6px 15px 0 15px;box-sizing:border-box}
.fast-find .inputWrap input+label{position:absolute;top:0;right:15px;font-size:14px;font-weight:500;color:#0dabb6}


.searchOrder {margin: 20px auto 0;display: block;padding: 13px 30px;border: 1px solid #0dabb6;border-radius: 8px;background: #fff;left: 0;right: 0;position: relative;max-width: 240px;overflow: hidden;}
.searchOrder form {margin-top: 10px;}
.searchOrder form .inputWrap {margin: 5px;}
.searchOrder form .inputWrap input[type=text] {height: 40px;box-sizing: border-box;padding-right: 10px;font-size: 16px;border: 1px #ccc solid;border-radius: 5px;width: 100%;}
.searchOrder form .clear {text-decoration: none;font-size: 16px;display: inline-block;vertical-align: top;background: #fff;color: #0dabb6;border-radius: 5px;margin: 5px;border: 1px #0dabb6 solid;float: right;line-height: 40px;width: 60px;text-align: center;}
.searchOrder form input[type=submit] {display: block;vertical-align: top;background: #0dabb6;color: #fff;border-radius: 5px;cursor: pointer;margin: 5px;width: 100px;float: left;font-size: 20px;line-height: 40px;}
.searchOrder form .inputWrap select {height: 40px;box-sizing: border-box;padding-right: 10px;font-size: 16px;border: 1px #ccc solid;border-radius: 5px;text-align: right;width: 100%;}
.giftcard.gift-pop .gift_container ul li>div .con input {height: 30px;border: 1px #aaa solid;padding: 0 10px;width: 100%;box-sizing: border-box;}
.giftcard.gift-pop.mimush .gift_container {max-width: 570px;}

td.control div.pay {cursor:pointer}
td.control div.pay.refunded, .bottom-btns div.pay.refunded {width: 46px;height: 46px;border-radius: 5px;background-color: #fb4040;color: #fff;position: relative;float: left;margin-right: 5px;display: flex;align-items: center;justify-content: center;text-align: center;font-size: 14px; line-height:18px}

.giftcards-log thead th{position:sticky;z-index:1;background:white;top:0;box-shadow:0 -1px 1px #333 inset;line-height:1;height:30px}
.giftcards-log tbody th{position:sticky;z-index:1;background:white;bottom:0;font-weight:bold;height:50px;vertical-align:middle;box-shadow:0 1px 1px #333 inset;line-height:1}
.usageType1 td, .usageType1{color:#00af00}
.usageType2 td, .usageType2{color:#028993}
.usageType3 td, .usageType3{color:#00007c}
.usageType9 td, .usageType9{color:#e79b14}
.usageTypes{line-height:1;font-size:12px}
.usageTypes div{margin-top:3px}

.gift_container .mimushim .del-btn {text-align: left; background: url(/user/assets/img/X.jpg); background-position: right 0; background-repeat: no-repeat; display: inline-block; width: 90px; height: 20px; float: left; cursor: pointer;}
.gift_container .mimushim .del-log {text-align: left; display: inline-block; width: 60px; height: 20px; float: left;}

@media (min-width: 992px) {
    .giftcard.gift-pop {max-width:calc(100vw - 300px);right:auto;}
    .bottom-btns>div.refund {margin-right:140px;}
}

@media(max-width:700px){
	.giftcard.gift-pop .gift_container ul li{max-width:100%}
}